{% extends 'levels/base.html' %}
{% load static %}
{% block title_level_number %}9{% endblock %}

{% block panel_title %}
        What's my date of birth in hexadecimal?
{% endblock %}

{% block panel_content %}
            <img src="{% static '/images/challenge2022/apple-0b11.jpg' %}" style="
            border: 1px;
          border-radius: 7px;">
          <p style="text-align: center;padding-top: 8px;">Don't forget: All answers must be in lowercase</p>
          <!-- Year Only -->
{% endblock %}