{% extends 'levels/base.html' %}
{% load static %}
{% block title_level_number %}14{% endblock %}

{% block panel_title %}
        Crashes and learnings
{% endblock %}

{% block panel_content %}
            <p>
                Before joining Holberton and then ALX, Vincent founded a really cool tech company that built an open source Internet of drones platform. What was the name of his company?
            </p>
            <img src="{% static '/images/challenge2022/kubenka.jpg' %}" style="
            border: 1px;
          border-radius: 7px;">
{% endblock %}