{% extends 'levels/base.html' %}
{% load static %}
{% block title_level_number %}4{% endblock %}

{% block panel_title %}
        Betty Holberton
{% endblock %}

{% block panel_content %}
          <p>What is the last name of Betty Holberton's collaborator on the development of the C-10 instruction set? <br>If you think you have found the answer, go to <code>/ch4113n632022/&lt;your_answer&gt;</code> (all lowercase)</p>
        <img src="{% static '/images/challenge2022/peekdef.gif' %}" style="
          border: 1px solid;
          border-radius: 7px;">
{% endblock %}