{% extends 'levels/base.html' %}
{% load static %}
{% block title_level_number %}22{% endblock %}

{% block panel_title %}
        Python three dot eight
{% endblock %}

{% block panel_content %}
            What file contains the definition of the Python 3.8 type PyListObject (CPython)?
            <p>
                <iframe width="720" height="360" src="https://www.youtube.com/embed/4JihuTAOaMI" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <br>
                <div style="text-align: center;">Use the name of the file without the extension</div>
            </p>
{% endblock %}