{% extends 'levels/base.html' %}
{% load static %}
{% block title_level_number %}25{% endblock %}

{% block panel_title %}
        Crazy bases
{% endblock %}

{% block panel_content %}
            <p>
                <iframe width="720" height="360" src="https://www.youtube.com/embed/M9CItutHc9U" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </p>
            <p>
                Consider the following bases:
                <ul>
                    <li>ALX</li>
                    <li>Holbertn</li>
                    <li>Ju</li>
                    <li>0123456789 (for the answer)</li>
                </ul>
                <code>AAXL + rtnH + X -uJJ</code>
            </p>
{% endblock %}